.main {
    @media screen and (max-width:1199px) {
        display: none;
    }
}

.main__list {
    width: 370px;
    display: flex;
}

.main__img {
    margin-right: 30px;
}

.reletiv {
    position: relative;
}

.main__description {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    width: 370px;
    height: 70px;
    position: absolute;
    text-align: center;
    justify-content: center;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    padding: 27px;
}